* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 40px;
}

body {
  background-color: #48a8ae;
}

header {
  display: flex;
  background-color: black;
  height: 100px;
  justify-content: space-evenly;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
  margin-bottom: 50px;
}

button {
  cursor: pointer;
  color: aliceblue;
  background-color: black;
  border: 0;
  font-size: 30px;
}

button:hover {
  color: #ff4e5ad5;
}

img {
  width: 140px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.sobreIgreja p {
  text-align: center;
  font-family: "Times New Roman", Times, serif, Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 30px;
}

.sobreIgreja h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.cultos h1 {
  text-align: center;
}

.cultos {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  border: solid 2px rgb(97, 97, 97);
}

#paragrafo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#paragrafo h2 {
  margin-top: 50px;
}

#imgCultoQuarta {
  margin-top: 30px;
  width: 500px;
  height: 500px;
}

#imgCultoDomingo {
  margin-top: 30px;
  width: 500px;
  height: 500px;
}

.imgCultos {
  position: absolute;
  display: flex;
}

.ensino {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  border: solid 2px rgb(97, 97, 97);
}
.ensino > h1 {
  text-align: center;
}

#backgroundEbd {
  background-image: url(img/escolaBiblica1.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
}

#backgroundEbd > p {
  margin-top: 30px;
  color: rgb(227, 227, 227);
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80%;
}

.contatos {
  margin-top: 300px;
  font-size: 20px;
  width: 100%;

  justify-content: space-evenly;

}


.imgPastores{
  position: absolute;
  display: flex;
  
}

.projetos {
  margin-top: 200px;
}


